@font-face {
  font-family: 'RobotoBold';
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'RobotoThin';
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: 'RobotoCondensedBold';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: 'RobotoCondensedThin';
  src: url(../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: 'AmericanCR';
  src: url(../fonts/american-condensed-regular.otf);
}
.translate-left {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 400ms ease-out 100ms;
  -moz-transition: -moz-transform 400ms ease-out 100ms;
  transition: transform 400ms ease-out 100ms;
}
.read-left {
  z-index: 999;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 400ms ease-out 100ms;
  -moz-transition: -moz-transform 400ms ease-out 100ms;
  transition: transform 400ms ease-out 100ms;
}
.read-right {
  z-index: 999;
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 400ms ease-out 100ms;
  -moz-transition: -moz-transform 400ms ease-out 100ms;
  transition: transform 400ms ease-out 100ms;
}
.translated {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
}
.green-btn,
.white-btn {
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: #5CB31C;
  color: white;
  border-radius: 80px;
  margin: 0px 5px;
}
.green-btn:hover,
.green-btn:focus {
  color: white;
}
.green-btn a {
  color: white;
}
.green-btn a:hover,
.green-btn a:focus,
.green-btn a:visited,
.green-btn a:active {
  color: white;
}
.white-btn {
  color: #5CB31C;
  border: 3px solid #5CB31C;
  background-color: white;
  font-weight: bold;
  padding: 2px 7px;
}
.white-btn:hover,
.white-btn:focus {
  color: #5CB31C;
}
.white-btn a:hover,
.white-btn a:focus,
.white-btn a:visited,
.white-btn a:active {
  color: #5CB31C;
}
@media (max-width: 1200px) {
  .special-lg {
    display: flex !important;
  }
}
.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.submit-button {
  padding: 10px 20px;
  background-color: #5CB31C;
  color: white;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'RobotoBold';
  display: inline-block;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
}
.submit-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.material-tile {
  background-color: white;
  width: 500px;
  margin: auto;
  border-radius: 3px;
  padding-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.material-tile .title-section {
  padding: 16px;
  margin-bottom: 20px;
  background-color: #5CB31C;
}
.material-tile .title-section h1,
.material-tile .title-section p {
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
  font-family: RobotoCondensed;
  background: transparent;
}
.material-tile .title-section h1 {
  font-size: 35px;
  padding-bottom: 8px;
}
@media (max-width: 767px) {
  .material-tile {
    width: 100%;
  }
}
.material-input {
  margin-bottom: 20px;
  position: relative;
}
.material-input > label {
  pointer-events: none;
  color: #9E9E9E;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: lighter;
  transform: translateY(16px);
  transition: 200ms all;
  -moz-transition: 200ms all;
  -webkit-transition: 200ms all;
}
.material-input > input {
  display: block;
  padding-top: 16px;
  padding-bottom: 8px;
  max-width: 300px;
  border: none;
  border-bottom: 1px solid #9E9E9E;
  color: #9E9E9E;
  width: 300px;
}
@media (max-width: 767px) {
  .material-input > input {
    max-width: 200px;
  }
}
.material-input > input[type="password"] {
  background: url('../img/pass.png') no-repeat;
  background-size: 15px;
  background-position: 98% 25px;
}
.material-input > input:focus {
  outline: none;
}
.material-input > input:focus + label,
.material-input > input[class="active"] + label {
  top: -12px;
  font-size: 12px;
  transform: translateY(6px);
}
.material-input > input:focus + label {
  color: #5CB31C;
}
.material-input > input:focus {
  border-bottom: solid 1.5px #5CB31C;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: RobotoCondensed;
}
@media (max-width: 768px) {
  body,
  html {
    overflow: scroll;
  }
}
a {
  color: inherit;
}
a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  cursor: pointer;
}
#main {
  padding: 0;
}
header {
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  position: fixed;
  height: 88px;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 10px;
  z-index: 2;
}
header #logo {
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  display: inline-block;
  margin-left: 10px;
}
header #logo span {
  display: flex;
  align-items: center;
}
header #logo span a {
  display: block;
}
header #logo span a img {
  display: block;
  width: 150px;
}
header span {
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
  font-size: 15px;
}
@media (max-width: 768px) {
  header span {
    font-size: 12px;
  }
}
header nav {
  height: 100%;
  width: 100%;
  display: inline;
}
header nav ul {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
  float: right;
}
header nav ul li {
  cursor: pointer;
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
}
header nav ul li a {
  font-size: 1.2vw;
  font-family: RobotoCondensedBold;
  background: transparent;
  display: block;
  color: #5CB31C;
  padding: 10px;
  text-transform: uppercase;
}
header nav ul li a:hover,
header nav ul li a:visited {
  color: #5CB31C;
}
@media (max-width: 1200px) {
  header nav {
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    background-color: #5CB31C;
    height: 100%;
    width: auto;
    overflow: auto;
  }
  header nav #close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  header nav #close-menu .glyphicon,
  header nav #close-menu .glyphicon-remove {
    color: white;
    font-size: 20px;
  }
  header nav ul {
    min-width: 170px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  header nav ul li {
    height: auto;
    position: relative;
    display: block;
  }
  header nav ul li a {
    color: white !important;
    font-size: 2vh;
  }
  header nav ul li a:focus,
  header nav ul li a:visited {
    color: white;
  }
}
#multiscroll-container {
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 0;
  width: calc(101%);
  height: calc(100vh - 88px);
  top: 88px;
  left: 0;
}
#multiscroll-container .background-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
#multiscroll-container #multiscroll {
  height: 100%;
  position: relative;
}
#multiscroll-container #multiscroll .ms-section,
#multiscroll-container #multiscroll .ms-table,
#multiscroll-container #multiscroll .ms-tableCell {
  height: calc(100vh - 88px) !important;
}
#main-mobile {
  position: absolute;
  z-index: 0;
  margin: 88px 0px 0px 0px;
  width: 100%;
  padding: 0;
}
#main-mobile > .container-fluid {
  padding: 0;
  position: relative;
  width: 100%;
}
#main-mobile > .container-fluid .background-container {
  display: block;
  width: 100%;
  height: calc(100vh - 88px);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#home-section {
  padding: 2vh 2vw;
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 88px);
}
#home-section > .main {
  width: 100%;
}
#home-section h1 {
  font-family: AmericanCR;
  font-weight: bold;
  font-size: 10vh;
  color: #5CB31C;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}
#home-section h2 {
  font-family: AmericanCR;
  font-weight: bold;
  text-align: center;
  font-size: 4vh;
  padding: 0 0 30px 0;
  margin: 0;
}
#home-section #btn-section {
  display: flex;
  justify-content: center;
}
#home-section #btn-section > .green-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  text-align: center;
  font-size: 1.2vw;
  margin: 0 4%;
  padding: 1% 0;
  font-weight: bold;
}
#home-section #home-tags {
  margin-top: 30px;
}
#home-section #home-tags p {
  font-family: AmericanCR;
  font-weight: bold;
  text-align: justify;
  font-size: 3vh;
  line-height: 1;
}
#home-section #home-tags p .greyify {
  color: #9E9E9E;
}
#home-section #home-logos {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-section #home-logos > img {
  max-width: 15%;
  max-height: 8%;
  display: block;
  margin: 0 10px;
}
@media (max-width: 768px) {
  #main-mobile > .container-fluid .background-container #home-section {
    height: 100%;
    width: 100%;
  }
}
#main-mobile > .container-fluid .background-container #home-section .main {
  width: 100%;
}
#main-mobile > .container-fluid .background-container #home-section .main h1 {
  font-size: 10vh;
}
#main-mobile > .container-fluid .background-container #home-section .main h2 {
  font-size: 5vh;
  padding-bottom: 20px;
}
#main-mobile > .container-fluid .background-container #home-section .main #btn-section > .green-btn {
  font-size: 1.8vh;
  width: 28%;
  padding: 1% 2%;
}
#main-mobile > .container-fluid .background-container #home-section .main #home-tags {
  margin-top: 10px;
}
#main-mobile > .container-fluid .background-container #home-section .main #home-tags p {
  font-size: 3vh;
}
.slide-section {
  width: 100%;
  height: calc(100vh - 88px);
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  background-position: left bottom;
  background-repeat: repeat-x;
}
.slide-section .section-container > h1 {
  color: white;
  font-family: RobotoCondensedBold;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
}
.slide-section .section-container > p {
  color: white;
  font-size: 16px;
  padding: 0;
  line-height: 1;
  font-family: RobotoThin;
}
.slide-section .section-container > .green-btn {
  margin: 10px 0;
  float: left;
  font-size: 20px;
  font-family: RobotoCondensedBold;
}
@media (max-width: 767px) {
  .slide-section {
    height: 100%;
    width: 100%;
  }
}
.more-left,
.more-right {
  background-color: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.more-left .section-container > span,
.more-right .section-container > span {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  color: black;
  font-size: 25px;
}
.more-left .section-container > h1,
.more-right .section-container > h1,
.more-left .section-container > p,
.more-right .section-container > p {
  color: black;
}
.more-left {
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.more-right {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
#main-mobile .readmore {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #f2f2f2;
}
#main-mobile .readmore .section-container {
  padding: 20px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#main-mobile .readmore .section-container > span {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 25px;
  color: #5CB31C;
}
#main-mobile .readmore .section-container h1,
#main-mobile .readmore .section-container p {
  color: black;
}
.shop .green-bg {
  background-color: #5CB31C;
}
.shop .green-bg .slide-section {
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.shop .green-bg .slide-section .product {
  position: relative;
  background-color: white;
  height: 25%;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
}
.shop .green-bg .slide-section .product .product-image {
  padding: 0;
  margin: 0;
  width: 30%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.shop .green-bg .slide-section .product .content {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: calc(100% - 30%);
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 45px;
  overflow: hidden;
}
.shop .green-bg .slide-section .product .content:after {
  content: ' ';
  display: block;
  background: white;
  height: 45px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.shop .green-bg .slide-section .product .content h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: #5CB31C;
  padding: 0;
  margin: 0;
}
.shop .green-bg .slide-section .product .content > span {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 25px;
  display: inline-block;
}
.shop .green-bg .slide-section .product .content > span .green-btn {
  display: block;
  margin: 0;
  font-size: 15px;
}
.shop .green-bg .slide-section .product .content > span .green-btn img {
  height: 20px;
  margin-left: 5px;
  margin-top: -4px;
}
#main-mobile .shop .background-container {
  height: auto;
}
#main-mobile .shop .background-container .product-image {
  height: auto;
}
#main-cart {
  margin-top: 88px;
  padding-bottom: 50px;
}
#main-cart .cart {
  margin-top: 50px;
}
#main-cart .cart h1,
#main-cart .cart h2,
#main-cart .cart p {
  text-align: center;
}
@media (max-width: 767px) {
  #main-cart .cart h1,
  #main-cart .cart h2,
  #main-cart .cart p {
    text-align: left;
  }
}
#main-cart .cart h1 {
  color: #5CB31C;
  font-family: RobotoCondensedBold;
  font-size: 50px;
}
#main-cart .cart h2 {
  color: #5CB31C;
}
#main-cart .cart p {
  font-size: 15px;
}
.cart .green-btn {
  cursor: default;
}
.cart .table-responsive {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .cart .table-responsive {
    border: none;
  }
}
.cart .table-responsive table {
  white-space: nowrap;
  text-align: center;
  width: 50%;
  margin: auto;
}
.cart .table-responsive table thead,
.cart .table-responsive table tfoot {
  background-color: #5CB31C;
  color: white;
}
.cart .table-responsive table thead th,
.cart .table-responsive table tfoot th {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
}
.cart .table-responsive table tfoot th {
  font-size: 18px;
}
.cart .table-responsive table tbody tr td {
  vertical-align: middle;
  padding: 10px;
}
.cart .table-responsive table tbody tr td .input-number {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .table-responsive table tbody tr td button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 12px;
  display: block;
  color: #5CB31C;
}
.cart .table-responsive table tbody tr td button[left] {
  float: left;
}
.cart .table-responsive table tbody tr td button[right] {
  float: right;
}
.cart .table-responsive table tbody tr td input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #5CB31C;
  text-align: center;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.cart .table-responsive table tbody tr td input::-webkit-inner-spin-button,
.cart .table-responsive table tbody tr td input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.cart .table-responsive table tbody tr td input:focus {
  outline: none;
}
.cart .table-responsive table tbody img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: auto;
}
.cart #totals {
  text-align: center;
}
.cart #totals h1 {
  font-family: RobotoCondensed;
  font-size: 30px;
}
.cart #totals h1 #total {
  font-family: RobotoCondensedThin;
  font-weight: bold;
  font-size: 30px;
}
.cart #totals .submit-button {
  margin: 10px auto;
}
#main-account {
  overflow: auto;
  position: fixed;
  height: 100%;
  width: 100%;
  padding-top: calc(138px);
  padding-bottom: 50px;
}
#main-account .form-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#main-account .form-section .mail > input {
  background: url('../img/mail.png') no-repeat;
  background-size: 15px;
  background-position: 98% 25px;
}
#main-account .form-section .adresse > input {
  background: url('../img/home.png') no-repeat;
  background-size: 15px;
  background-position: 98% 25px;
}
#main-account .form-section .tel > input {
  background: url('../img/phone.png') no-repeat;
  background-size: 15px;
  background-position: 98% 25px;
}
#main-account .form-section .errorList {
  margin: 0 auto 10px auto;
}
#main-account .form-section .errorList li {
  list-style: inside decimal;
  font-weight: bold;
  color: #EF5350;
  padding: 10px 0;
}
#main-account .form-section .submit-button {
  display: block;
  margin: 50px auto 10px auto;
}
#main-account .more {
  margin-top: 30px;
}
#main-account .more p {
  text-align: center;
  line-height: 1;
}
#main-account .more p a {
  text-decoration: underline;
}
#main-account .more p a:hover {
  color: inherit;
}
#main-account .change-pass {
  margin: 0 auto;
  padding: 0;
}
