// Fonts

@font-face {
  font-family: 'RobotoBold';
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'RobotoThin';
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: 'RobotoCondensedBold';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: 'RobotoCondensedThin';
  src: url(../fonts/RobotoCondensed-Light.ttf);
}

// Constantes
@green:#5CB31C;
@light_grey:#e5e5e5;
@header-height: 88px;


// Functions
.full(){
    height:100%;
    width:100%;
}
.transition(@type,@duration,@effect){
    -webkit-transition: @type @duration @effect;
    transition: @type @duration @effect;
}
.translate(@val1,@val2){
    -webkit-transform: translate(@val1,@val2);
    -moz-transform: translate(@val1,@val2);
    transform: translate(@val1,@val2);
}
.translate_effect(@p1,@p2, @delay:400ms){
    -webkit-transform: translate(@p1,@p2);
    -moz-transform: translate(@p1,@p2);
    transform: translate(@p1,@p2);
    -webkit-transition: -webkit-transform @delay ease-out 100ms;
    -moz-transition: -moz-transform @delay ease-out 100ms;
    transition: transform @delay ease-out 100ms;
}
// Basics
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
    // background-color: grey;
}
body{
    font-family: RobotoCondensed;
}

body,html{
    @media(max-width:768px){
        overflow: scroll;
    }
}

a {
    &,&:hover,&:visited,&:focus{
        text-decoration: none;
        cursor: pointer;
    }
}

#main{
    padding: 0;
}

// HEADER
header{
    border-bottom:1px solid @light_grey;
    background-color: white;
    background-color: white;
    position: fixed;
    height: @header-height;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
    #btn-menu{
        z-index: -1;
        display: inline;
        position: absolute;
        top: 20px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        span{
            float: none;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                font-family: RobotoCondensedBold;
                text-transform: uppercase;
                padding: 0 50px 15px 50px;
                border-bottom: solid 2px green;
                color:@green;
                font-size: 20px;
            }
        }
    @media(max-width: 768px){
        z-index: inherit;
        position: relative;
        margin: inherit;
        display: block;
        float: left;
        top:inherit;
        height: 100%;
        span{
            a{
                padding: 0 15px;
                border: none;

            }
        }
    }
    }
    #logo{
        height: 100%;
        float: left;
        display: flex;
        align-items: center;
        display: inline-block;
        margin-left: 10px;
        span{
            display: flex;
            align-items: center;
            a{
                display: block;
                img{
                    display: block;
                    @media(max-width: 768px){
                        width: 45px;
                    }
                    @media(max-width: 300px){
                        width: 30px;
                    }
                }
            }
        }
    }
    span{
        display: flex;
        align-items: center;
        float: right;
        height: 100%;
        font-size: 15px;
        @media(max-width: 768px){
            font-size: 12px;
        }
    }
    nav{
        .full();
        display: inline;
        // level 1 menu
        ul{
            margin:0;
            display: flex;
            align-items: center;
            height:100%;
            float: right;
            li{
                cursor: pointer;
                height: 100%;
                list-style-type: none;
                display: flex;
                align-items: center;
                //level 2 menu - large
                &:hover>.sub-menu{
                    visibility: visible;
                }
                .sub-menu{
                    visibility: hidden;
                    background-color: @green;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    height: auto;
                    top:100%;
                    min-width: 150px;
                    li{
                        min-width: 150px;
                        width: 100%;
                        a{
                            width: 100%;
                            color: white;
                            font-family: Roboto;
                            text-transform: capitalize;
                            font-size: 12px;
                        }
                    }
                }
                a{
                    font-size: 17px;
                    font-family: RobotoCondensedBold;
                    background: transparent;
                    display: block;
                    color:@green;
                    padding: 10px;
                    text-transform: uppercase;
                    @media(max-width: 1400px){
                        font-size: 15px;
                    }
                    @media(max-width: 1300px){
                        font-size: 13px;
                    }
                    @media(max-width: 1200px){
                        font-size: 11px;
                    }
                    &:hover,&:visited{
                        color: @green;
                    }
                }
            }
        }
        // nav responsive
        @media(max-width: 1200px){
            position: fixed;
            right:0;
            top:0;
            display: block;
            background-color: @green;
            height: 100%;
            width: auto;
            #close-menu{
                position: absolute;
                top: 10px;
                right: 10px;
                .glyphicon,.glyphicon-remove{
                    color: white;
                    font-size: 20px;
                }
            }
            ul{
                padding: 40px 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                height: auto;
                li{
                    height: auto;
                    position: relative;
                    //level 2 menu - mobile
                    display: block;
                    .sub-menu{
                        visibility: visible;
                        display: none;
                        top: 0;
                        left: 20px;
                        padding:0;
                        position: relative;
                        float: none;
                        opacity: 1;
                        li{
                            a{
                                padding: 5px 10px;
                            }
                        }
                    }
                    a{
                        color: white !important;
                        &:focus,&:visited{
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.green-btn{
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: @green;
    color: white;
    border-radius: 80px;
    margin: 0px 5px;
    &:hover,&:focus{
        color:white;
    }
}

.translate-left{
    .translate_effect(100%,0);
}

.translated{
    .translate(0,0);
}

.hidden-lg{
    @media (max-width:1200px){
        display: block !important;
    }
}

.wrapped{
    display: block !important;
}

#multiscroll-container{
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: calc(~"100%" - @header-height);
    top: @header-height;
    left: 0;
    .background-container{
        position: absolute;
        top: 0;
        left: 0;
        .full();
        background-position: center center;
        background-size:cover;
        background-repeat:no-repeat;
    }
}


#main-mobile{
    position: absolute;
    z-index: -1;
    margin: @header-height 0px 0px 0px;
    width: 100%;
    padding: 0;
    >.container-fluid{
        padding: 0;
        position: relative;
        width: 100%;
        .background-container{
            display: block;
            width: 100%;
            height: calc(~"100vh" - @header-height);
            background-position: center center;
            background-size:cover;
            background-repeat:no-repeat;
        }
        // >.row{
        //     .full();
        // }
    }
}
