// EFFECTS
.translate-left{
    .translate_effect(100%,0);
}

.read-left{
    z-index: 999;
    .translate_effect(-100%,0);
}

.read-right{
    z-index: 999;
    .translate_effect(100%,0);
}

.translated{
    .translate(0,0);
}

//BUTTONS

.green-btn{
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: @green;
    color: white;
    border-radius: 80px;
    margin: 0px 5px;
    &:hover,&:focus{
        color:white;
    }
    a{
        color: white;
        &:hover,&:focus,&:visited,&:active{
            color:white;
        }
    }
}

.white-btn{
    &:extend(.green-btn);
    color: @green;
    border: 3px solid @green;
    background-color: white;
    font-weight: bold;
    padding: 2px 7px;
    &:hover,&:focus{
        color:@green;
    }
    a{
        &:hover,&:focus,&:visited,&:active{
            color:@green;
        }
    }
}

// RESPONSIVE TOOL

.special-lg{
    @media (max-width:1200px){
        display: flex !important;
    }
}

// MATERIAL
.shadow{
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.submit-button{
    padding: 10px 20px;
    background-color: @green;
    color:white;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'RobotoBold';
    display: inline-block;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    .transition(box-shadow, 300ms,ease);
    &:hover{
        .shadow;
    }
}

.material-tile{
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 3px;
    padding-bottom: 30px;
    .shadow;
    .title-section{
        padding:16px;
        margin-bottom: 20px;
        background-color: @green;
        h1,p{
            text-align: center;
            padding: 0;
            margin: 0;
            color: white;
            font-family: RobotoCondensed;
            background: transparent;
        }
        h1{
            font-size: 35px;
            padding-bottom: 8px
        }
    }
    @media(max-width:767px){
        width:100%;
    }
}

.material-input{
    margin-bottom: 20px;
    position: relative;
    &>label{
        pointer-events: none;
        color: @dark_grey;
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: lighter;
        transform: translateY(16px);
          transition:200ms all;
          -moz-transition:200ms all;
          -webkit-transition:200ms all;
    }
    &>input{
        display: block;
        padding-top: 16px;
        padding-bottom: 8px;
        max-width: 300px;
        border: none;
        border-bottom: 1px solid @dark_grey;
        color: @dark_grey;
        width: 300px;
        @media(max-width: 767px){
            max-width: 200px;
        }
        &[type="password"]{
            .sticky-img(url('../img/pass.png'));
        }
        &:focus{
            outline: none;
        }
        &:focus + label, &[class="active"] + label{
            top:-12px;
            font-size: 12px;
            transform: translateY(6px);
        }

        &:focus + label {
            color: @green;
        }

        &:focus {
            border-bottom: solid 1.5px @green;
        }
    }
}
