#main-register{
    .form-section{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        .errorList{
            list-style: none;
            display: block;
            margin: 0;
            padding: 0;
        }
    }
    .more{
        margin-top: 30px;
        p{
            text-align: center;
            line-height: 1;
            a{
                text-decoration: underline;
                &:hover{
                    color: inherit;
                }
            }
        }
    }
}
